.DropDownMenu-Containerrr {
  display: flex;
  justify-content: right;
  background-color: white;
}

.container-header-log-in:hover a {
  color: rgb(240, 185, 11);
}

.container-header-log-in:active {
  background-color: #f0bb0b32;
  transition: all 0.3s linear;
}

.BNB-Font {
  font-family: Arial, Helvetica, sans-serif;
}

.BNB-Fonts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.btn-header-menuBar {
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-header-menuBar:hover .Nav-MenuBar {
  display: block;
}

.Nav-MenuBar {
  position: absolute;
  padding-top: 17.6px;
  top: 2;
  right: 0;
  border-bottom: 0.7px solid rgb(214, 213, 213);
  box-shadow: -1px -157px 9px -162px rgba(0, 0, 0, 0.68) inset;
  background-color: white;
  justify-content: center;
  justify-items: center;
  width: 320px;
  display: none;
  overflow: hidden;
  height: 100vh;
  /* display: block; */
  /* text-align: center; */
}

/* MQ Nav MenuBar 370 */

@media screen and (min-width: 370px) {
  .Nav-MenuBar {
    width: 375px;
  }
}

/* MQ Nav MenuBar 370 End */

.Nav-MenuBar:hover {
  overflow-y: auto;
}

.container-close-dropdown {
  float: right;
  padding-right: 15px;
  margin-bottom: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.container-header-log-in {
  clear: both;
  display: block;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.container-header-log-in a {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9em;
}

.container-header-register {
  display: block;
  text-align: center;
  background-color: #fcd533;
  margin-left: 13px;
  margin-right: 13px;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 4px;
  position:relative;
}

.container-header-register a {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.container-gift-register-img {
  position: absolute;
  width: 16px;
  left: 103px;
  top: 13px;
}

/* MQ 375 gifts register img */

@media screen and (min-width: 375px) {
  .container-gift-register-img {
    left: 130px;
    top: 13px;
  }
}

/* MQ 375 gifts register imgEnd */

.Ul-Menubar-header li {
  display: flex;
  align-items: center;
  line-height: 70px;
}

.Ul-Menubar-header li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e2329;
}

.Ul-Menubar-header li:hover {
  background-color: #f5f5f5;
}

.container-usd-img {
  width: 27px;
  margin-left: 12px;
  margin-right: 8px;
}

.container-usd-yellow-img {
  width: 22px;
  margin-left: 13px;
  margin-right: 8px;
  position: absolute;
  display: none;
}

.container-english-yellow-img {
  /* width: 27px;
  margin-left: 12px;
  margin-right: 8px; */
  width: 25px;
  margin-left: 11.3px;
  margin-right: 11px;
  position: absolute;
  display: none;
}

.container-english-img {
  width: 19px;
  margin-left: 16.5px;
  margin-right: 11px;
}

.container-gaming-img {
  width: 27px;
  margin-left: 12px;
  margin-right: 8px;
}

.container-explore-img {
  width: 27px;
  margin-left: 12px;
  margin-right: 8px;
}

.container-stats-img {
  width: 27px;
  margin-left: 12px;
  margin-right: 8px;
}

.container-mysterybox-img {
  width: 27px;
  margin-left: 12px;
  margin-right: 8px;
}

.container-tutorial-img {
  width: 27px;
  margin-left: 12px;
  margin-right: 8px;
}

.LI-USD:hover .container-usd-yellow-img {
  display: block;
}

.LI-english:hover .container-english-yellow-img {
  display: block;
}

.LI-english {
  border-top: 1px solid rgb(237, 235, 235);
}

.container-gaming-Black-img {
  width: 31px;
  margin-left: 12px;
  margin-right: 8px;
  position: absolute;
  display: none;
}

.container-explore-Black-img {
  display: none;
  position: absolute;
  width: 31px;
  margin-left: 8px;
  margin-right: 8px;
}

.container-tutorial-black-img {
  display: none;
  position: absolute;
  width: 32px;
  margin-left: 7.5px;
  margin-right: 8px;
}

.container-mysterybox-black-img {
  display: none;
  position: absolute;
  width: 32px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.container-stats-black-img {
  display: none;
  position: absolute;
  width: 32px;
  margin-left: 8px;
  margin-right: 8px;
}

.Li-Stats:hover .container-stats-black-img,
.Li-Mysteryboxes:hover .container-mysterybox-black-img,
.Li-tutorial:hover .container-tutorial-black-img,
.Li-explore:hover .container-explore-Black-img,
.Li-Gaming-IGo:hover .container-gaming-Black-img {
  display: block;
}

.opennftNavMenubarOpen {
  display: block;
  transition: all 0.4s linear;
}
