.ul-section9 {
  list-style-type: none;
  margin-left: 11px;
  line-height: 45px;
  padding-right: 8px;
}

.ul-section9 ul {
  line-height: 30px;

  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2px;
}

.ul-section9 ul a {
  text-decoration: none;
  color: #707a8a;
  font-size: 0.9em;
}

.input-Support,
.input-Service,
.input-Product,
.input-AboutUs {
  display: none;
}

.ul-Service-dropdown,
.Ul-support-dropdown,
.ul-product-dropdown,
.ul-about-dropdown {
  display: none;
  position: static;
  list-style-type: none;
}

[id^="AboutUs"]:checked + .ul-about-dropdown {
  display: block;
}

[id^="Pproduct"]:checked + .ul-product-dropdown {
  display: block;
}

[id^="Sservice"]:checked + .ul-Service-dropdown {
  display: block;
}

[id^="SSupport"]:checked + .Ul-support-dropdown {
  display: block;
}

.Label-Support,
.Label-Service,
.Label-Pproduct,
.Label-aboutus {
  display: flex;
  justify-content: space-between;
}

.Label-aboutus p {
  color: rgba(0, 0, 0, 0.813);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.Label-Pproduct p {
  color: rgba(0, 0, 0, 0.813);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.Label-Support p {
  color: rgba(0, 0, 0, 0.813);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.Label-Service p {
  color: rgba(0, 0, 0, 0.813);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.minus-sign-Support,
.minus-sign-Service,
.minus-sign-Products,
.minus-sign-AboutUs {
  position: absolute;
  right: 0;
  background: white;
  display: none;
  padding-right: 8px;
}

.Li-Support:hover .minus-sign-Support,
.Li-Service:hover .minus-sign-Service,
.Li-Products:hover .minus-sign-Products,
.Li-aboutUs:hover .minus-sign-AboutUs {
  display: block;
}
