.Section5 {
  margin-top: 20px;
}

.p-Events {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}

.p-Exclusivepremium {
  font-family: Arial, Helvetica, sans-serif;
  color: #707a8a;
  font-size: 1em;
  line-height: 22px;
}

.Container-Section5Events {
  margin-left: 11px;
  margin-bottom: 18px;
}

.Container-Section5Marketplace {
  margin-left: 11px;
  margin-bottom: 18px;
}

.pp-marketplace {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}

.p-MindtNFT-World {
  font-family: Arial, Helvetica, sans-serif;
  color: #707a8a;
  font-size: 1em;
  line-height: 22px;
}

.Container-Section5MysteryBox {
  margin-left: 11px;
  margin-bottom: 35px;
}

.p-MysteryBoxplayground {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}

.p-ChancetoWin {
  font-family: Arial, Helvetica, sans-serif;
  color: #707a8a;
  font-size: 1em;
  line-height: 22px;
}
